

*{
    margin: 0%;
    padding: 0%;
}

body{
    font-family: sans-serif;
}

.first-section{
    background-color: #1f2937;
}

#header-logo{
    font-size: 24px;
    color: #F9FAF8;
}

.header-link{
    font-size: 18px;
    color: #E5E7EB;
    margin: 10px;
}

.navbar{
    display: flex;
    flex-direction: row;
    /*this is the very top of the website header logo and links*/
}

ul{
    display: flex;
    flex-direction: row;
}

.navbar-left, .navbar-right{
    display: flex;
    width: 50%; /* this splits up the top bar 50% between both classes*/
    justify-content: center;
    align-items: center;
}

h1{
font-size: 48px;
font-weight: extra-bold;
color: #F9FAF8;
}

.content{
    display: flex;
    flex-direction: row;
    margin: 50px;
}

.content-right{
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.content-left{
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    margin-left: 40px;
}
img{
    margin: 50px;
    
}

.p-first{
    
    font-size: 18px;
    color: #E5E7EB;
}

.sign-up-first-section{
    background-color: #3882F6;
    color: white;
    width: 100px;
    height: 35px;
    border-radius: 10px; /* This rounds the selection*/
    border-color: black 5px;
}

/* end of first section*/

h2{
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    text-align: center;
}

.row-of-blue-divs{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 100%;
    margin: 100px;
    align-items: center;
}

.box-blue{
    border: 2px solid red;
    height: 200px;
    width: 200px;
    border-radius: 5px;

}

.p-second{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}